# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


/o2o_business_studio/.gradle
/o2o_business_studio/local.properties
/o2o_business_studio/.idea/workspace.xml
/o2o_business_studio/.idea/libraries
/o2o_business_studio/.idea
/o2o_business_studio/build

/o2o_custom_studio/.gradle
/o2o_custom_studio/local.properties
/o2o_custom_studio/.idea/workspace.xml
/o2o_custom_studio/.idea/libraries
/o2o_custom_studio/.idea
/o2o_custom_studio/build

/o2o_business_studio/fanwe_o2o_businessclient_23/build
/o2o_business_studio/library_AndroidPullToRefresh/build
/o2o_business_studio/library_fanwe/build
/o2o_business_studio/library_push_umeng/build
/o2o_business_studio/library_qrcode_zxing/build
/o2o_business_studio/library_xml_drawable_o2o/build
/o2o_business_studio/library_social_umeng/build

/o2o_custom_studio/fanwe_o2o_47/build
/o2o_custom_studio/library_androidpercentsupportextend/build
/o2o_custom_studio/library_AndroidPullToRefresh/build
/o2o_custom_studio/library_androidshapeimageview/build
/o2o_custom_studio/library_fanwe/build
/o2o_custom_studio/library_map_baidu/build
/o2o_custom_studio/library_pay_alipay/build
/o2o_custom_studio/library_pay_unionpay/build
/o2o_custom_studio/library_PhotoViewmaster/build
/o2o_custom_studio/library_push_umeng/build
/o2o_custom_studio/library_qrcode_zxing/build
/o2o_custom_studio/library_social_umeng/build
/o2o_custom_studio/library_span/build
/o2o_custom_studio/library_xml_drawable_o2o/build

*.iml
*.project
*.classpath
.DS_Store