<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fanwe.businessclient"
    android:versionCode="2016030901"
    android:versionName="2.3.2">

    <uses-sdk android:minSdkVersion="14" />
    <!-- 友盟推送权限开始 -->
    <!-- 必选 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 可选 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 友盟推送权限结束 -->

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.fanwe.application.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="${app_name}"
        android:theme="@style/GlobeTheme">
        <activity android:name="com.fanwe.InitActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.fanwe.service.AppUpgradeService" />

        <!-- 登陆界面 -->
        <activity
            android:name="com.fanwe.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 申请合伙人begin -->
        <!-- 1.申请合伙人类别 -->
        <activity
            android:name="com.fanwe.ApplyTypeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 2.选择地区 -->
        <activity
            android:name="com.fanwe.ApplyCityActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 3.会员店填写信息-->
        <activity
            android:name="com.fanwe.ApplyHYDActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 3.合伙人填写信息-->
        <activity
            android:name="com.fanwe.ApplyHHRActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 4.选择图片页 -->
        <activity
            android:name="com.fanwe.ApplyResultActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 4.申请支付信息-->
        <activity
            android:name="com.fanwe.ApplyPayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 申请合伙人end -->

        <!-- 自媒体begin -->
        <!-- 自媒体首页 -->
        <activity
            android:name="com.fanwe.MediaHomeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 自媒体下线详情页 -->
        <activity
            android:name="com.fanwe.MediaNextLevelActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 自媒体奖励页 -->
        <activity
            android:name="com.fanwe.MediaRewardActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 自媒体推广海报页 -->
        <activity
            android:name="com.fanwe.MediaPosterActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 自媒体end -->

        <!-- 注册页面 -->
        <activity
            android:name="com.fanwe.RegisterActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 修改密码页面 -->
        <activity
            android:name="com.fanwe.ModifyPasswordActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 主界面 -->
        <activity
            android:name="com.fanwe.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 二维码 -->
        <activity
            android:name="com.fanwe.MyCaptureActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 评论详情 -->
        <activity
            android:name="com.fanwe.Biz_tuan_msg_Activity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 活动列表 -->
        <activity
            android:name="com.fanwe.EventoCtlActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- webview -->
        <activity
            android:name="com.fanwe.DetailWebviewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 经营管理中的优惠价下载查看 -->
        <activity
            android:name="com.fanwe.Jygl_couponActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 经营管理中的优惠门店列表 -->
        <activity
            android:name="com.fanwe.Jygl_couponActActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 优惠门店列表中的单个列表信息 -->
        <activity
            android:name="com.fanwe.Jygl_couponYouhuisActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 消费统计中的门店销量列表 -->
        <activity
            android:name="com.fanwe.Jygl_couponStoreActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 消费统计中的团购劵列表 -->
        <activity
            android:name="com.fanwe.Jygl_couponConsumptionActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 活动报名列表 -->
        <activity
            android:name="com.fanwe.BizEventoCtlEventsActActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 消费统计 -->
        <activity
            android:name="com.fanwe.ConsumeStatisticsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 商家订单列表 -->
        <activity
            android:name="com.fanwe.OrderListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 商家订单详情 -->
        <activity
            android:name="com.fanwe.BizGoodsoCtlGoodssActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 我的提现 -->
        <activity
            android:name="com.fanwe.MyWithdrawalsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 商品发货 -->
        <activity
            android:name="com.fanwe.DeliverGoodsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 绑定银行卡 -->
        <activity
            android:name="com.fanwe.BindBankActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 友盟start -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${umeng_channel}" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="@string/umeng_appkey" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="@string/umeng_message_secret" />
        <!-- 友盟end -->

        <!-- ping++ begin -->
        <!-- Ping++ SDK -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微信支付 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <!-- ping++ end-->
    </application>

</manifest>